
@mixin pui-flex {

	@if pui-component-not-loaded('pui-flex') {

		%flex {

			position: relative;

			> %flex-item {
				flex: 0 0 auto;
				position: relative;

				// limit max width to parent width (only for firefox)
				//overflow-x: auto;
			}

			> %flex-item-stretch {
				@extend %flex-item;
				flex: 1 1 auto;
			}

		}

		%flex-horizontal {
			@extend %flex;

			display: flex;
			flex-direction: row;

			&%flex-reverse {
				flex-direction: row-reverse;
			}
		}


		%flex-vertical {
			@extend %flex;

			display: flex;
			flex-direction: column;

			&%flex-reverse {
				flex-direction: column-reverse;
			}
		}

	}

}

