
@mixin grid {

	.row {
		display: block;
		.col {
			float:left;
		}

		&:after {
			content:'';
			display:block;
			clear:both;
		}
	}

}

@mixin grid-flex {

	.row {
		display:flex;

		.col {
			flex:0 0 auto;
			float:none;

			&.col-stretch {
				flex: 1 1 auto;
			}
		}
	}

}
