
/**
 * DEPRECATED: reset
 */
@mixin helper {
	@warn 'Mixin \'helper\' is deprecated. Use pui-helper instead!';
}


@mixin pui-helper {

	@if pui-component-not-loaded('pui-helper') {

		.tl { text-align: left; }
		.tc { text-align: center; }
		.tr { text-align: right; }

		.fl { float:left; }
		.fr { float:right; }

		.antialised {
			font-smoothing:antialiased;
		}

	}
}
