@mixin page {
	.page {
		margin: 0 auto;
		width: last($breakpoints);

		$lfn:1;
		@each $width in $breakpoints {

			@if $lfn == 1 {
				@include brp($lfn) {
					width: 100%!important;
				}
			} @else {
				@include brp($lfn) {
					width: brp-width($lfn - 1);
				}
			}

			$lfn:$lfn+1;
		}
	}
}
